.simpleCard {
  color: #000;
  border: 1px solid var(--dark-blue);
  padding: 1em;
  display: flex;
  gap: 1em;
  width: 500px;
  border-radius: 8px;
}

.diferentialCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-blue);
  padding: 1em;
  width: 300px;
  height: 250px;
  text-align: center;
  border-radius: 1em;
}
.diferentialCardText {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.diferentialCardText h2 {
  font-size: 1.3em;
  color: #000;
}

.diferentialCardText p {
  font-size: 1.1em;
  color: #888;
}

.compromiseCard {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #1a2f4d 0%, #0d1829 100%);
  padding: 4em 5em;
  border: 1px solid var(--dark-blue);
  width: 93%;
  margin: 0 auto;
  border-radius: 1em;
}
.compromiseCardIconText {
  display: flex;
  gap: 3em;
  padding-left: 1em;
}
.compromiseCardText h2 {
  color: #fff;
  font-size: 1.2em;
  width: 80%;
}

.compromiseCardText span {
  font-size: 1.2em;
  width: 20%;
  color: #d29b35;
}
.compromiseCardButton {
  width: 50%;
  align-items: center;
  align-self: center;
}
