@import "tailwindcss";
:root {
  --dark-blue: #1a2f4d;
  --offWhite: #e7e2de;
}
.css-14ca1rq-MuiButtonBase-root-MuiButton-root {
  border: 1px solid var(--dark-blue) !important;
  color: var(--dark-blue) !important;
}
.css-14ca1rq-MuiButtonBase-root-MuiButton-root::after {
  content: "→";
  font-weight: bold;
  display: inline-block;
  transition: transform 0.2s ease;
}
.css-14ca1rq-MuiButtonBase-root-MuiButton-root:hover::after {
  transform: translateX(4px) !important;
}
