.warningBox {
  display: flex;
  border: 1px solid #36619d;
  background: #1a2f4d;
  backdrop-filter: blur(16px);
  color: #e5a93b;
  font-weight: 600;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 2em;
  padding: 4px;
  gap: 0.2em;
}
